*,
*::before,
*::after {
  box-sizing: border-box;
}

[data-name="homepage-content"] > * {
    margin: 2rem 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

[data-name="drawer-menu"] a:visited {
    color: black;
}

.drawer-nav-menu {
    font-weight: bold;
}

.report-abuse-link > span.report-abuse-link {
    color: revert;
}

.content-section-typography,
.content-section-typography p {
    text-align: justify;
}